<div class="container">
    <mat-card>
        <mat-card-title>Explore Hotel </mat-card-title>
        <mat-card-content>These popular destinations have a lot to offer</mat-card-content>
        <div class="app__hotel-container">
            <app-hotel-row
                *ngFor="let hotel of mockHotel"
                [hotel]="hotel"
                (onToggleHotel)="toggleHotel(hotel)"
            ></app-hotel-row>
        </div>
    </mat-card>
    <mat-card>
        <mat-card-title>Explore Hotel </mat-card-title>
        <mat-card-content>These popular destinations have a lot to offer</mat-card-content>
        <div class="app__hotel-container">
            <app-hotel-row
                *ngFor="let hotel of mockHotel"
                [hotel]="hotel"
                (onToggleHotel)="toggleHotel(hotel)"
            ></app-hotel-row>
        </div>
    </mat-card>
    <mat-card>
        <mat-card-title>Explore Hotel </mat-card-title>
        <mat-card-content>These popular destinations have a lot to offer</mat-card-content>
        <div class="app__hotel-container">
            <app-hotel-row
                *ngFor="let hotel of mockHotel"
                [hotel]="hotel"
                (onToggleHotel)="toggleHotel(hotel)"
            ></app-hotel-row>
        </div>
    </mat-card>
</div>
